
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="https://static.zara.net/photos///contents/mkt/spots/ss23-north-woman-accesories/subhome-xmedia-15-2//w/1920/IMAGE-landscape-fill-b593c548-a41a-4f3f-9cec-c255d6254cf4-default_0.jpg?ts=1681313014570" alt="" />
            </li>
            <li>
                <img src="https://www.hm.com/nt-north/uploads/2023/04/4047B-3x2-playful-simplicity.jpg" alt="" />
            </li>
            <li>
                <img src="https://static.zara.net/photos///contents/mkt/spots/ss23-north-woman-perfumes/subhome-xmedia-15-2//w/1920/IMAGE-landscape-fill-716dd8ff-0bad-43d0-94e9-dfc0341c831e-default_0.jpg?ts=1681311576261" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>